<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%A, %d %b %Y %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
