// Specific CSS for your home-page
.landing-container {
  display: flex;
  align-items: center;
  background-color: #FCF1E4;
  border-radius: 40px;
  margin: 25px;
  padding:25px;
  h1{
    text-align: center;
    color: #0E2C58;
    margin-bottom: 2rem;
  }
}

/* banner-pic css */
.landing-text {
  flex: 1;
  text-align: justify;
  margin: 70px;
  margin-left: 70px;
  margin-right: 62px;
  line-height: 45px;
  color: #907d65;
}

.landing-banner {
  img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .landing-container {
    flex-direction: column;
    text-align: center;
    padding: 33px;
    display: flex;
    h1{
      margin-bottom: 2rem;
    }
  }
  .landing-text {
    margin:0;
    p{
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    text-align: center;
    padding: 33px;
    display: flex;

  }
  .landing-text {
    margin:0;
    line-height: normal;
    p{
      margin-bottom: 1rem;
    }
  }
}
