  <%= link_to "Create a new chatroom", new_chatroom_path, class: "btn btn-primary" %>
<div class="cardlists">
  <% @chatrooms.each do |chatroom| %>
    <div class="card" style="width: 18rem;">
      <%= link_to chatroom_path(chatroom), class:"delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <h5 class="chatroom-title"><%= link_to chatroom.name, chatroom_path(chatroom) %></h5>
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <p>
          <i class="fa-regular fa-user"></i>
          people in the chat
        </p>
      </div>
    </div>
  <% end %>
</div>
