<div class="forms-container">
  <div class="forms">
    <h2>Create a new Chatroom</h2>
    <%= simple_form_for @chatroom do |f| %>
      <div class="mb-3">
        <%= f.input :name, label_html: { class: "form-label" } %>
        <%= f.input :photo, as: :file %>
      </div>
      <div class="chatroom-button">
        <%= f.button :submit, 'Create Chatroom', class: 'create_btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
