<div class="chatroom-container">
  <%= simple_form_for [@chatroom] do |f| %>
    <%= f.input :name, label_html: { class: "form-label" }   %>
    <%= f.submit class: 'create_btn btn-primary' %>
  <% end %>
</div>
