<div class="profile-container">
  <% @users.each do |user| %>
    <div class="card">
      <img src="img.jpg" alt="user-photo not found" style="width:100%">
      <h1><%= user.first_name %> <%= user.last_name %></h1>
      <h5><%= user.nickname %></h5>
    </div>
  <% end %>
</div>
