<div class="landing-container">
  <div class="landing-text">
    <h1>Welcome to Soluna: a messaging app</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla quos eum aliquid ratione vitae?
      Eligendi aut deleniti officiis eaque, labore placeat eum architecto, repellat nulla itaque corrupti mollitia, distinctio culpa?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta asperiores nisi ipsum dolor, voluptatum, aliquam ipsa harum sunt expedita delectus,
      rerum doloribus commodi at ad aut minus tenetur eius cupiditate.</p>
  </div>
  <div class="landing-banner">
    <%= image_tag('group-chat.avif', alt: 'Message Banner') %>
  </div>
</div>
