<div class="landing-container">
  <div class="landing-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url('<%= asset_path('message-banner.png') %>');">
  </div>
</div>
