.footer {
  background: #FCF1E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 20px;
  color: #102C59;
  margin-top: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
  color: #102C59;
}
.footer-links {
  a{
  color: #102C59;
  opacity: 0.65;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  }
}
.footer-copyright{
  margin-top: 15px;
}

// responsiveness of footer
@media screen and (max-width: 450px) {
  .footer{
    padding: 18px;
  }
  .footer-copyright{
    font-size: 12px;
  }
  .footer-links  {
    a{
    font-size: 18px;
    }
}
}
