.form-container{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.form-border{
  border: 1px solid black;
  margin-top: 30px;
  padding: 30px;
  border-radius: 25px;
}

.forms-container{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.forms{
  margin-top: 30px;
  padding: 50px;
  border: 1px solid white;
  border-radius: 10px
}
