body{
  background-color: #DAC0A3;
  height: 100vh;
}

.chatrooms{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.chatrooms-add-btn {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
}

.landing-text-definition{
  background-color: #19376D;
  padding: 18px;
  border-radius: 35px;
  color: #E8C872;
  border: 2px solid #E8C872;
  p{
    line-height: 30px;
    margin: 0;
  }
}
