.message-user-pic{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.message{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.chatroom-show-pic{
  width: auto;
  height: 50px;
}

.submit-button{
  color: white;
  background-color: #DAC0A2;
  border: none;
}
.submit-button:hover{
  color: white;
  background-color: #dac0a29c;
  border: none;
}


.title{
  display: flex;
  margin-top: 60px;
  margin-bottom: -40px;
  background-color: #102C59;
  color:ivory;
  width: -24px;
  border-radius: 6px;
  justify-content: center;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid ivory;
}
.house-rules{
  display: grid;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 40px;
    grid-gap: 30px;
    .card{
      margin-bottom: 10px;
      align-content: center;
      margin-top: 20px;
      line-height: 30px;
      border: 1px solid #102C59;
      h5{
        color: #102C59;
      }
      p{
        text-align: justify;
        padding: 20px;
        color: #907d65;
      }
    }
}


@media (max-width: 1000px) {
  .house-rules{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .house-rules{
    grid-template-columns: 1fr;
    p{
      padding: 10px;
      line-height: 25px;
    }
  }
  .title{
    h3{
      text-align: center;
      font-size: 20px;
    }
  }
}
