.message-user-pic{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.message{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.chatroom-show-pic{
  width: 50px;
  height: 50px;
}
