// cards for showing all the users-card
.profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    margin: 20px;
    padding: 35px;
    background-color: floralwhite;
    align-content: center;
    justify-content: space-around;
    border-radius: 25px;
}

.profile-header{
  text-align: center;
  background-color: #FFDD93;
  border-radius: 10px;
  padding: 10px;
  color: #182747;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
// card for chatrooms
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: ivory;
  height: 100%;
  margin: 10px;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

// css for the user-index username
.user-name {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 24px;
}

.nickname {
  color: grey;
  font-size: 18px;
}

button, a {
  display: inline-block;
  padding: 8px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover, a:hover {
  opacity: 0.7;
}


// .my-card{
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   max-width: 300px;
//   text-align: center;
//   margin: auto;
//   margin-top: 20px;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.my-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 50em;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 28em;
  background-color: antiquewhite;
  border-radius: 15px;
}

.my-user-card{
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 105px;
  justify-content: space-around;
  h1{
    font-family: 'Merriweather', serif;
    font-size: 40px;
  }
}

.user-details{
  margin-top: 140px;
  margin-left: -3px;
}


@media screen and (max-width: 840px) {
  .my-card{
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // align-content: center;
    // justify-content: center;
    // align-items: center;
    // height: 40em;
    // margin: 20px;
    // background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 37em;
    margin: 20px;
    background-color: antiquewhite;
    margin-top: 50px;
  }
  .my-user-card{
    display: grid;
    justify-content: space-around;
    margin-left: 0;
    margin-top: 80px;
    h1{
      font-size: 40px;
      margin-top: -15px;
      font-family: 'Merriweather', serif;
    }
  }
  .user-details{
    h1{
      margin-bottom: none;
    }
  }
}


.bio {
  color: grey;
  font-size: 18px;
}

.users-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #182747;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

// css for for all the index#users image
.user-pics{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

// css for all the index#users card
.all-users-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
