.profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    margin: 50px;
    padding: 35px;
    background-color: antiquewhite;
    align-content: center;
    justify-content: space-around;
    border-radius: 25px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
  height: 100%;
  margin: 10px;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
}

.nickname {
  color: grey;
  font-size: 18px;
}

button, a {
  display: inline-block;
  padding: 8px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover, a:hover {
  opacity: 0.7;
}


.my-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  color: grey;
  font-size: 18px;
}

.users-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.user-pics{
  width: 200px;
  height: 200px;

}

// css for all the index#users card
.all-users-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
